
body {
    overflow:auto;
    height:3000px;
}

a {
    color: inherit;
    text-decoration: none;
}

nav.menu {
    line-height: 1.4;
    font-family: "Space Mono", monospace;
    background: #1d1f20;
    padding: 25px 35px;
    width: 30%;
    height: 80%;
    bottom: 0;
    position: fixed;
    left: 0;
    border-radius: 16px;
    box-shadow: 0 0 60px -15px black;
    transform: scale(0) rotate(360deg);
    transition: all 0.75s;
    font-size: 18px
    color:white;
    overflow:auto;
    z-index:9999

}

nav.menu_active {
    transform: scale(1) rotate(0deg);
}

nav.menu > ol > li {
    margin: 20px 0;
    color:#dd925f;
}


nav.menu > ol > li > ol {
    margin: 10px 0 0 20px;
    border-left: 1px solid $grey;
    color: #ae94c0;
}

nav.menu > ol > li > ol > li {
    margin: 7px 0;
    padding-left: 20px;
}

nav.menu a:hover {
    color: #dd925f;
}

h3 {
    position: fixed;
    left: 0;
    font-family: "Roboto Mono", monospace;
    font-size: 60px;
    color: white;
    bottom: 0;
    cursor: pointer;
    transition: all 0.3s;
    font-size: 30px;
     z-index:9999;
}

h3:hover {
    border-bottom: 6px dotted #cfd8dc;
    padding-bottom: 10px;
    bottom: 0px;
     z-index:9999;
}
 
p {
    font-family: "Roboto Mono", monospace;
    float: right;
    cursor: pointer;
    font-size: 16px;
    color: #cfd8dc;
    transition: all 0.2s;
}

p:hover {
    border-bottom: 2px dotted #cfd8dc;
    padding-bottom: 5px
}



/*
.slide-in-fwd-bottom {
    -webkit-animation: slide-in-fwd-bottom 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
            animation: slide-in-fwd-bottom 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}


@-webkit-keyframes slide-in-fwd-bottom {
  0% {
    -webkit-transform: translateZ(-1400px) translateY(800px);
            transform: translateZ(-1400px) translateY(800px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0) translateY(0);
            transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-fwd-bottom {
  0% {
    -webkit-transform: translateZ(-1400px) translateY(800px);
            transform: translateZ(-1400px) translateY(800px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0) translateY(0);
            transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}
*/

