  <style>
        .bg {
            position: fixed;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            z-index: -999;
            border-style:none;

           

        }
        .bg img {
            min-height: 100%;
            width: 100%;
            background-size:cover;
                    }
      

    
* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  padding: 0px;
  background: black;
  border-style:none;
}

/* Header/Blog Title */

/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #333;
}

/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Create two unequal columns that floats next to each other */
/* Left column */

/* Right column */
.rightcolumn {
  float: left;
  width: 100%;
  background-color: #f1f1f1;
  padding-left: 0px;
  font-size: 30px
}

/* Fake image */
.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}

/* Add a card effect for articles */
.card {
  background-color: white;
  padding: 1px;
  margin-top: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Footer */
.footer {
  padding: 30px;
  text-align: center;
  background: #ddd;
  margin-top: 30px;}

.container {
  position: relative;
    font size: 10px;
    font-family: Arial;

}

.text-block {
  position: absolute;
  top: 0px;
  left: 10px;
  background-color: none;
  color: black;
  padding-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {   
    width: 100%;
    padding: 0;
  }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .topnav a {
    float: none;
    width: 100%;
  }


  p.caption{
    position: relative;
    right: 50px;
  }
}


em  {
  color:white;
  text-align: center;
  font-size: 120px;
  margin-top: 0px;
  line-height:235px}
