body{
	background-color: black; 
}
ul {
	font-family: sans-serif;
  list-style-type: none;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #162941;
	/*
	background-color: rgb(93, 90, 85);
	*/
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
	color: #B6CFE7;
	/*
  	background-color: #111;
  	*/
}


#all {
	width: 100%;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
}

#pictures {
}

#point {
	top: -40px;
	left: 45%;
	position: relative;
}