ul {
	font-family: sans-serif;
  list-style-type: none;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #162941;
	/*
	background-color: rgb(93, 90, 85);
	*/
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
	color: #B6CFE7;
	/*
  	background-color: #111;
  	*/
}


#all {
  margin-right: auto;
  margin-left: auto;
}

#picture {
  position: absolute;
  top: 30px;
  left: 0;
  right: 0;
  z-index: -1;
}

#point {
  position: relative;
  top:650px;
  display:flex;
  align-items:center;
  justify-content:center;
}
#point img{
  cursor: pointer;
}