
img {
    vertical-align: middle;
}

button {
    outline: none;
}
aside img{
    width: 50px;
    height: auto;
    z-index: 111111;
}

.page-main {
    position: relative;
    z-index:9998
}
.page-main ul li a{
    color:#fff;
    text-decoration: none;
}
.page-main ul li a:hover{
    color:#8595ff;
    text-decoration: none;
}
.page-main > aside {
    background-color: rgba(0,0,0,0.8);
    width: 350px;
    height: 100%;
    top: 0;
    right: -350px;
    position: fixed;
}

.page-main > aside ul {
    margin: 0;
    padding: 0;
    top: 50px;
    right: 114px;
    position: absolute;
}

.page-main > aside li {
    margin: 0 0 20px;
    list-style: none;
}

.page-main > aside button {
    background-color: rgba(0,0,0,0.8);
    display: block;
    position: absolute;
    top: 150px;
    right: 350px;
    width: 52px;
    height: 132px;
    margin: 0;
    padding: 0;
    border: none;
}

/* Clearfix */
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}